.ThingPage__image {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(min(calc(180px + 12vmin), 100%), 1fr)
  );
  border: var(--border);
}

.ThingPage__review-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ThingPage__content {
  margin-bottom: 30px;
}

.ThingPage__review {
  position: relative;
}

.ThingPage__review::before {
}

.ThingPage__review-icon {
}

.ThingPage__review-text {
}

.ThingPage__review-user {
}
section {
  display: flex;
  flex-direction: column;
}
