.ThingListItem {
  background: none;
  display: flex;
  flex-direction: column;
}

.ThingListItem:hover {
  cursor: pointer;
}

.ThingListItem,
.ThingListItem:visited {
  color: #555;
}

.ThingListItem__image {
}

.ThingListItem__details {
}

.ThingListItem__details h2 {
  margin: 0;
}

.ThingListItem__details span {
  display: block;
  text-align: center;
  opacity: 0.5;
}
