.ThingListItem {
  background: none;
  display: flex;
  flex-direction: column;
}

.ThingListItem:hover {
  cursor: pointer;
}

.ThingListItem,
.ThingListItem:visited {
  color: #555;
}

.ThingListItem__image {
  display: flex;
}

.ThingListItem__details {
  display: flex;
}

.ThingListItem__details h2 {
  margin: 0;
}

.ThingListItem__details span {
  display: block;
  text-align: center;
  opacity: 0.5;
}

@media only screen and (max-width: 600px) {
  .ThingListItem__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ThingListItem__details h2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ThingListItem_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
